.logo {
  margin-right: .5rem;
}

.psydao-name {
  font-size: 1.75rem;
}

.footer {
padding: 50px;
}

.nextra-sidebar-container > div > ul > li > a {
font-size: 18px;
}

.content-image {
margin: 10px 0 5px 0;
}